<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Article Overview - YSJ</title>
    <link rel="stylesheet" href="assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i">
    <link rel="stylesheet" href="assets/fonts/fontawesome-all.min.css">
    <link rel="stylesheet" href="assets/fonts/font-awesome.min.css">
    <link rel="stylesheet" href="assets/fonts/fontawesome5-overrides.min.css">
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-159412861-2"></script>
    <script>
     window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());
        gtag('config', 'UA-159412861-2');
    </script>
</head>

<body id="page-top">
    <div id="wrapper">
        <%- include('sidebar.ejs', {authLevel: authLevel, page: 'articles'}) %>
        <div class="d-flex flex-column" id="content-wrapper">
            <div id="content">
                <nav class="navbar navbar-light navbar-expand bg-white shadow mb-4 topbar static-top">
                    <div class="container-fluid"><button class="btn btn-link d-md-none rounded-circle mr-3" id="sidebarToggleTop" type="button"><i class="fas fa-bars"></i></button>
                        <form class="form-inline d-none d-sm-inline-block mr-auto ml-md-3 my-2 my-md-0 mw-100 navbar-search">
                            <div class="input-group"></div>
                        </form>
                        <ul class="nav navbar-nav flex-nowrap ml-auto">
                            <li class="nav-item dropdown d-sm-none no-arrow"><a class="dropdown-toggle nav-link" data-toggle="dropdown" aria-expanded="false" href="#"><i class="fas fa-search"></i></a>
                                <div class="dropdown-menu dropdown-menu-right p-3 animated--grow-in" role="menu" aria-labelledby="searchDropdown">
                                    <form class="form-inline mr-auto navbar-search w-100">
                                        <div class="input-group"><input class="bg-light form-control border-0 small" type="text" placeholder="Search for ...">
                                            <div class="input-group-append"><button class="btn btn-primary py-0" type="button"><i class="fas fa-search"></i></button></div>
                                        </div>
                                    </form>
                                </div>
                            </li>
                            <li class="nav-item dropdown no-arrow mx-1" role="presentation">
                                <div class="nav-item dropdown no-arrow"><a class="dropdown-toggle nav-link" data-toggle="dropdown" aria-expanded="false" href="#"><span class="badge badge-danger badge-counter">3+</span><i class="fas fa-bell fa-fw"></i></a>
                                    <div class="dropdown-menu dropdown-menu-right dropdown-list dropdown-menu-right animated--grow-in"
                                        role="menu">
                                        <h6 class="dropdown-header">alerts center</h6>
                                        <a class="text-center dropdown-item small text-gray-500" href="#">Show All Alerts</a></div>
                                </div>
                            </li>
                            <div class="d-none d-sm-block topbar-divider"></div>
                            <li class="nav-item dropdown no-arrow" role="presentation">
                                <div class="nav-item dropdown no-arrow"><a class="dropdown-toggle nav-link" data-toggle="dropdown" aria-expanded="false" href="#"><span class="d-none d-lg-inline mr-2 text-gray-600 small"><%=displayName%></span><img class="border rounded-circle img-profile" src="assets/img/avatars/avatar1.jpeg"></a>
                                    <div
                                        class="dropdown-menu shadow dropdown-menu-right animated--grow-in" role="menu"><a class="dropdown-item" role="presentation" href=""><i class="fas fa-user fa-sm fa-fw mr-2 text-gray-400"></i>&nbsp;Profile</a>
                                        <div class="dropdown-divider"></div><a class="dropdown-item" role="presentation" href="logout"><i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>&nbsp;Logout</a></div>
                    </div>
                    </li>
                    </ul>
            </div>
            </nav>
            <div class="container-fluid">
                <h3 class="text-dark mb-4"><%=article.title%></h3>
                <div class="card shadow mb-5">
                    <div class="card-header py-3">
                        <p class="text-<%=article.color%> m-0 font-weight-bold">Article Timeline</p>
                    </div>
                    <div class="card-body" style="padding: 12px;">
                        <div class="card shadow border-left-<%=article.color%> py-2" style="padding: 0px;">
                            <div class="card-body">
                                <div class="row align-items-center no-gutters">
                                    <div class="col mr-2">
                                        <div class="text-uppercase text-<%=article.color%> font-weight-bold text-xs mb-1"><span class="text-<%=article.color%>">article timeline</span></div>
                                        <div class="row no-gutters align-items-center">
                                            <div class="col-auto">
                                                <div class="text-dark font-weight-bold h5 mb-0 mr-3"><span>50%</span></div>
                                            </div>
                                            <div class="col">
                                                <div class="progress progress-sm">
                                                    <div class="progress-bar bg-<%=article.color%>" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100" style="width: 50%;"><span class="sr-only">50%</span></div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-auto"><i class="fas fa-clipboard-list fa-2x text-gray-300"></i></div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6" style="padding: 12px 0px 0px 12px;">
                                <div class="card text-<%=article.color%> border-<%=article.color%> shadow border-left-<%=article.color%> py-2">
                                    <div class="card-body" style="padding: 0px 20px 0px 20px;">
                                        <div class="row align-items-center no-gutters">
                                            <div class="col mr-2">
                                                <div class="text-uppercase text-<%=article.color%> font-weight-bold text-xs mb-1"><span class="text-<%=article.color%>" style="color: rgb(204,54,63);"><%=article.status%></span></div>
                                                <div class="row no-gutters align-items-center">
                                                    <div class="col-auto">
                                                        <div class="text-dark font-weight-bold h5 mb-0 mr-3"><span class="text-<%=article.color%>">20%</span></div>
                                                    </div>
                                                    <div class="col">
                                                        <div class="progress progress-sm">
                                                            <div class="progress-bar bg-<%=article.color%>" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100" style="width: 20%;"><span class="sr-only">20%</span></div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-auto"><i class="fas fa-clipboard-list fa-2x text-gray-300"></i></div>
                                        </div><small class="form-text text-muted">Expected by: yesterday</small></div>
                                </div>
                            </div>
                            <div class="col" style="padding: 12px 12px 12px 12px;">
                                <div class="card shadow border-left-primary py-2">
                                    <div class="card-body" style="padding: 0px 20px 0px 20px;">
                                        <div class="row align-items-center no-gutters">
                                            <div class="col mr-2">
                                                <div class="text-uppercase text-primary font-weight-bold text-xs mb-1"><span>Expected publication</span></div>
                                                <div class="text-dark font-weight-bold h5 mb-0"><span>22 February 2020</span></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="custom-control custom-switch"><input class="custom-control-input" type="checkbox" id="formCheck-1"><label class="custom-control-label" for="formCheck-1"><strong>Notify me about changes</strong></label></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row mb-3">
                    <div class="col-lg-4">
                        <div class="card mb-3">
                            <div class="card-body text-center shadow"><i class="fa fa-file-word-o" style="height: 110px;width: 110px;font-size: 110px;margin: 20px;"></i>
                                <div class="mb-3"><a href="https://drive.google.com/drive/u/1/folders/<%=article.folder%>"><button class="btn btn-primary btn-sm" type="button">Go to Drive</button></a></div>
                            </div>
                        </div>
                        <div class="card shadow mb-4">
                            <div class="card-header py-3">
                                <h6 class="text-primary font-weight-bold m-0">Comments</h6>
                            </div>
                            <div class="card-body">
                                <form action="/saveArticle?id=<%=article.id%>&dept=<%=article.subject%>" method='POST'>
                                    <textarea style="width: 100%;height: 150px;margin: 0px 0px 15px 0px;" name="notes"><%= article.notes %></textarea>
                                    <button class="btn btn-success btn-icon-split" style="height: 33px;" <% if (locked) { %> disabled <%}%>>
                                        <span class="text-white-50 icon"><i class="fas fa-check"></i></span>
                                        <span class="text-white text">Save Comments</span>
                                    </button>                                    
                                </form>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-8">
                        <div class="row mb-3 d-none">
                            <div class="col">
                                <div class="card text-white bg-primary shadow">
                                    <div class="card-body">
                                        <div class="row mb-2">
                                            <div class="col">
                                                <p class="m-0">Peformance</p>
                                                <p class="m-0"><strong>65.2%</strong></p>
                                            </div>
                                            <div class="col-auto"><i class="fas fa-rocket fa-2x"></i></div>
                                        </div>
                                        <p class="text-white-50 small m-0"><i class="fas fa-arrow-up"></i>&nbsp;5% since last month</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col">
                                <div class="card text-white bg-success shadow">
                                    <div class="card-body">
                                        <div class="row mb-2">
                                            <div class="col">
                                                <p class="m-0">Peformance</p>
                                                <p class="m-0"><strong>65.2%</strong></p>
                                            </div>
                                            <div class="col-auto"><i class="fas fa-rocket fa-2x"></i></div>
                                        </div>
                                        <p class="text-white-50 small m-0"><i class="fas fa-arrow-up"></i>&nbsp;5% since last month</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <div class="card shadow mb-3">
                                    <div class="card-header py-3">
                                        <p class="text-primary m-0 font-weight-bold">Article info</p>
                                    </div>
                                    <div class="card-body" style="padding: 5px 20px 0px 20px;">
                                        <form action="/saveArticle?id=<%=article.id%>&dept=<%=article.subject%>" method='POST'>
                                            <div class="form-row">
                                                <div class="col">
                                                    <div class="form-group"><label for="title"><strong>Title</strong></label><input class="form-control" type="text" value="<%= article.title %>" name="title" style="height: 30px;"></div>
                                                </div>
                                                <div class="col">
                                                    <div class="form-group"><label for="author"><strong>Email Address</strong></label><input class="form-control" type="email" value="<%= article.author %>" name="author" style="height: 30px;" readonly></div>
                                                </div>
                                            </div>
                                            <div class="form-row">
                                                <div class="col">
                                                    <div class="form-group"><label for="status"><strong>Status</strong><br></label>
                                                        <select class="form-control form-control-sm custom-select custom-select-sm" style="width: 120px;margin: 0 20px 0 10px ;" name="status">
                                                            <% for (let i = 0; i < statuses.length; i++) { %>
                                                                <% if (article.status == statuses[i]) { %>
                                                                    <option value="<%=statuses[i]%>" selected=""><%=statuses[i]%></option>
                                                                <%} else {%>
                                                                    <option value="<%=statuses[i]%>"><%=statuses[i]%></option>
                                                                <%}%>
                                                            <% } %>
                                                        </select>
                                                    </div>
                                                </div>
                                                <div class="col">
                                                    <div class="form-group"><label for="subject"><strong>Subject</strong></label><input class="form-control" type="text" value="<%= article.subject %>" name="subject" style="height: 30px;"readonly></div>
                                                </div>
                                            </div>
                                            <div class="form-row">
                                                <div class="col">
                                                    <div class="form-group"><label for="timestamp"><strong>Date Submitted</strong><br></label><input class="form-control" type="text" value="<%= article.timestamp %>" name="timestamp" style="height: 30px;" readonly></div>
                                                </div>
                                                <div class="col">
                                                    <div class="form-group"><label for="type"><strong>Submission type</strong></label><input class="form-control" type="text" value="<%= article.type %>" name="type" style="height: 30px;" readonly></div>
                                                </div>
                                            </div>
                                            <div class="form-group"><button class="btn btn-primary btn-sm" type="submit" style="height: 26px;padding: 4px;" <% if (locked) { %> disabled <%}%>>Save Changes</button></div>
                                        </form>
                                    </div>
                                </div>
                                <div class="card shadow">
                                    <div class="card-header py-3">
                                        <p class="text-primary m-0 font-weight-bold">Editors</p>
                                    </div>
                                    <div class="card-body">
                                        <div class="table-responsive">
                                            <table class="table">
                                                <thead>
                                                    <tr>
                                                        <th>Editor</th>
                                                        <th>Email</th>
                                                        <th>Date Assigned</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <%for(let i = 0; i < article.editors.length; i++) { %>
                                                        <tr>
                                                            <td style="width: 222px;"><%=article.editors[i].name%></td>
                                                            <td><%=article.editors[i].email%></td>
                                                            <td><%=article.editors[i].timestamp%></td>
                                                        </tr>
                                                    <% } %>
                                                </tbody>
                                            </table>
                                        </div>
                                        <nav class="navbar navbar-light navbar-expand bg-white shadow mb-4 topbar static-top">
                                            <div class="container-fluid">
                                                <form class="form-inline d-none d-sm-inline-block mr-auto ml-md-3 my-2 my-md-0 mw-100 navbar-search" style="width: 100%;" id="editorsListForm"action="/assignEditor?id=<%=article.id%>&dept=<%=article.subject%>" method='POST'>
                                                    <div class="input-group">
                                                        <input class="bg-light form-control border-0 small" type="text" placeholder="Search for user by email" name="editor">
                                                        <div class="input-group-append">
                                                            <button class="btn btn-primary py-0" type="submit" <% if (locked) { %> disabled <%}%>>
                                                                <i class="fas fa-check"></i>
                                                            </button>
                                                        </div>
                                                    </div>
                                                </form>
                                            </div>
                                        </nav>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <footer class="bg-white sticky-footer">
            <div class="container my-auto">
                <div class="text-center my-auto copyright"><span>Copyright © YSJ 2020</span></div>
            </div>
        </footer>
    </div>
    <script src="assets/js/jquery.min.js"></script>
    <script src="assets/bootstrap/js/bootstrap.min.js"></script>
    <script src="assets/js/chart.min.js"></script>
    <script src="assets/js/bs-init.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.4.1/jquery.easing.js"></script>
    <script src="assets/js/theme.js"></script>
</body>

</html>