<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title><%=department%> Department - YSJ</title>
    <link rel="stylesheet" href="assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i">
    <link rel="stylesheet" href="assets/fonts/fontawesome-all.min.css">
    <link rel="stylesheet" href="assets/fonts/font-awesome.min.css">
    <link rel="stylesheet" href="assets/fonts/fontawesome5-overrides.min.css">
</head>

<body id="page-top">
    <div id="wrapper">
        <%- include('sidebar.ejs', {authLevel: authLevel, page: 'dept_info'}) %>
        <div class="d-flex flex-column" id="content-wrapper">
            <div id="content">
                <nav class="navbar navbar-light navbar-expand bg-white shadow mb-4 topbar static-top">
                    <div class="container-fluid"><button class="btn btn-link d-md-none rounded-circle mr-3" id="sidebarToggleTop" type="button"><i class="fas fa-bars"></i></button>
                        <form class="form-inline d-none d-sm-inline-block mr-auto ml-md-3 my-2 my-md-0 mw-100 navbar-search">
                            <div class="input-group"></div>
                        </form>
                        <ul class="nav navbar-nav flex-nowrap ml-auto">
                            <li class="nav-item dropdown d-sm-none no-arrow"><a class="dropdown-toggle nav-link" data-toggle="dropdown" aria-expanded="false" href="#"><i class="fas fa-search"></i></a>
                                <div class="dropdown-menu dropdown-menu-right p-3 animated--grow-in" role="menu" aria-labelledby="searchDropdown">
                                    <form class="form-inline mr-auto navbar-search w-100">
                                        <div class="input-group"><input class="bg-light form-control border-0 small" type="text" placeholder="Search for ...">
                                            <div class="input-group-append"><button class="btn btn-primary py-0" type="button"><i class="fas fa-search"></i></button></div>
                                        </div>
                                    </form>
                                </div>
                            </li>
                            <li class="nav-item dropdown no-arrow mx-1" role="presentation">
                                <div class="nav-item dropdown no-arrow"><a class="dropdown-toggle nav-link" data-toggle="dropdown" aria-expanded="false" href="#"><span class="badge badge-danger badge-counter">3+</span><i class="fas fa-bell fa-fw"></i></a>
                                    <div class="dropdown-menu dropdown-menu-right dropdown-list dropdown-menu-right animated--grow-in"
                                        role="menu">
                                        <h6 class="dropdown-header">alerts center</h6>
                                        <a class="text-center dropdown-item small text-gray-500" href="#">Show All Alerts</a></div>
                                </div>
                            </li>
                            <div class="d-none d-sm-block topbar-divider"></div>
                            <li class="nav-item dropdown no-arrow" role="presentation">
                                <div class="nav-item dropdown no-arrow"><a class="dropdown-toggle nav-link" data-toggle="dropdown" aria-expanded="false" href="#"><span class="d-none d-lg-inline mr-2 text-gray-600 small"><%=displayName%></span><img class="border rounded-circle img-profile" src="assets/img/avatars/avatar1.jpeg"></a>
                                    <div
                                        class="dropdown-menu shadow dropdown-menu-right animated--grow-in" role="menu"><a class="dropdown-item" role="presentation" href="#"><i class="fas fa-user fa-sm fa-fw mr-2 text-gray-400"></i>&nbsp;Profile</a>
                                        <div class="dropdown-divider"></div><a class="dropdown-item" role="presentation" href="logout"><i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>&nbsp;Logout</a></div>
                    </div>
                    </li>
                    </ul>
            </div>
            </nav>
            <div class="container-fluid">
                <h3 class="text-dark mb-4"><%=department%> Department</h3>
                <h6>Senior Editor: <%=senior%></h5>
                <select class="form-control form-control-sm custom-select custom-select-sm" style="width: 200px;margin: 0 0 20px 0 ;" id="deptChoice" onchange="location = this.value;">
                    <% for(let i = 0; i < departments.length; i++) { %>
                        <% if (department == departments[i]) {%>
                            <option value="dept_info?department=<%=departments[i].replace('&', '%26')%>" selected=""><%=departments[i]%></option>
                        <%} else {%>
                            <option value="dept_info?department=<%=departments[i].replace('&', '%26')%>"><%=departments[i]%></option>
                        <%}%>
                    <% } %>
                </select>

                <div class="card shadow mb-4">
                    <div class="card-header py-3">
                        <h6 class="text-primary m-0 font-weight-bold">Work In Progress</h6>
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-6 text-nowrap">
                                <div id="dataTable_length" class="dataTables_length" aria-controls="dataTable">
                                    <label>Filter:&nbsp;
                                    <select class="form-control form-control-sm custom-select custom-select-sm" style="width: 120px;margin: 0 20px 0 10px ;" id="statusesFilterSelector" onChange="filterBy()">
                                        <option value="" selected="">Any Status</option>
                                        <% for(let i = 0; i < statuses.length; i++) { %>
                                            <option value="<%=statuses[i]%>"><%=statuses[i]%></option>
                                        <% } %>
                                    </select>
                                    <select class="form-control form-control-sm custom-select custom-select-sm" style="width: 114px;margin: 0 20px 0 10px;" id="typesFilterSelector" onChange="filterBy()">
                                        <option value="" selected="">Any Type</option>
                                        <% for(let i = 0; i < types.length; i++) { %>
                                            <option value="<%=types[i]%>"><%=types[i]%></option>
                                        <% } %>
                                    </select>&nbsp;</label><label></label></div>
                            </div>
                            <div class="col-md-6">
                                <div class="text-md-right dataTables_filter" id="dataTable_filter">
                                    <input id="filterSearch" type="search" class="form-control form-control-sm" aria-controls="dataTable" placeholder="Search" style="width: 100%;">
                                    <label></label>
                                </div>
                            </div>
                        </div>
                        <div class="table-responsive table mt-2" id="dataTable" role="grid" aria-describedby="dataTable_info">
                            <table class="table dataTable my-0" id="dataTable">
                                <thead>
                                    <tr>
                                        <th>Article Title</th>
                                        <th>Type</th>
                                        <th style="width: 500px;">Status</th>
                                        <th>Editor(s)</th>
                                        <th>Submission date</th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <% for (let i = 0; i < articles.length; i++) { %>
                                    <tr class="articleRows">
                                        <td class="articleRowSearch"><%= articles[i].title %></td>
                                        <td class="typesFilterCol"><%= articles[i].type %></td>
                                        <td>
                                            <div class="card shadow border-left-<%= articles[i].color %> py-2">
                                                <div class="card-body">
                                                    <div class="row align-items-center no-gutters">
                                                        <div class="col mr-2">
                                                            <div class="text-uppercase text-<%= articles[i].color %> font-weight-bold text-xs mb-1"><span class="statusesFilterCol"><%= articles[i].status %></span></div>
                                                            <div class="row no-gutters align-items-center">
                                                                <div class="col-auto">
                                                                    <div class="text-dark font-weight-bold h5 mb-0 mr-3"><span><%=articles[i].timeline%>%</span></div>
                                                                </div>
                                                                <div class="col">
                                                                    <div class="progress progress-sm">
                                                                        <div class="progress-bar bg-<%=articles[i].color%>" aria-valuenow="<%= articles[i].timeline %>" aria-valuemin="0" aria-valuemax="100" style="width: <%=articles[i].timeline%>%;">
                                                                            <span class="sr-only"><%=articles[i].timeline%>%</span>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="col-auto"><i class="fas fa-clipboard-list fa-2x text-gray-300"></i></div>
                                                    </div>
                                                </div>
                                            </div>
                                        </td>
                                        <td><%= articles[i].mainEditor %></td>
                                        <td><%= articles[i].timestamp %></td>
                                        <td><a class="btn btn-<%= articles[i].color %> btn-circle ml-1" role="button" href="article_overview?id=<%= articles[i].id%>&dept=<%=articles[i].subject%>"><i class="fas fa-info %>-circle text-white"></i></a></td>
                                    </tr>
                                    <% } %>
                                </tbody>
                                <tfoot>
                                    <tr></tr>
                                </tfoot>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="card shadow">
                    <div class="card-header py-3">
                        <p class="text-primary m-0 font-weight-bold">Members</p>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive table mt-2" id="dataTable" role="grid" aria-describedby="dataTable_info">
                            <table class="table dataTable my-0" id="dataTable">
                                <thead>
                                    <tr>
                                        <th>Name</th>
                                        <th>Articles in Progress</th>
                                        <th>Location</th>
                                        <th>Active</th>
                                        <th>Last Active</th>
                                        <th>Email</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <%for(let i = 0; i < staff.length; i++) {%>
                                    <tr>
                                        <td><img class="rounded-circle mr-2" width="30" height="30" src="assets/img/avatars/avatar1.jpeg"><%=staff[i].firstname%> <%=staff[i].lastname%></td>
                                        <td><%=staff[i].articlesAssigned%></td>
                                        <td><%=staff[i].location%></td>
                                        <td><a class="btn btn-<%=staff[i].active%> btn-circle ml-1" role="button"><i class="fas fa-<%=staff[i].activeIcon%> text-white"></i></a></td>
                                        <td><%=staff[i].lastLogin%></td>
                                        <td><%=staff[i].email%></td>
                                    </tr>
                                    <% } %>
                                    <tr></tr>
                                </tbody>
                                <tfoot>
                                    <tr></tr>
                                </tfoot>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <footer class="bg-white sticky-footer">
            <div class="container my-auto">
                <div class="text-center my-auto copyright"><span>Copyright © YSJ 2020</span></div>
            </div>
        </footer>
    </div><a class="border rounded d-inline scroll-to-top" href="#page-top"><i class="fas fa-angle-up"></i></a></div>
    <script src="assets/js/jquery.min.js"></script>
    <script src="assets/bootstrap/js/bootstrap.min.js"></script>
    <script src="assets/js/chart.min.js"></script>
    <script src="assets/js/bs-init.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.4.1/jquery.easing.js"></script>
    <script src="assets/js/theme.js"></script>
    <script type="text/javascript">
        // Filtering functions here
        function filterBy() {
            console.log("running");
            let searchFilter = document.getElementById("filterSearch").value;
            if (currentFilter("statusesFilterSelector") == "" &&
                currentFilter("typesFilterSelector") == "" &&
                searchFilter == "") {
                    resetFilterRows();
            } else {
                let rows = document.getElementsByClassName("articleRows");
                for (var i = rows.length - 1; i >= 0; i--) {
                    rows[i].style.display = "none";
                    if ( articleFiltered(rows[i], "statusesFilterCol", currentFilter("statusesFilterSelector")) &&
                         articleFiltered(rows[i], "typesFilterCol", currentFilter("typesFilterSelector")) &&
                         articleFilteredBySearch(rows[i])) {
                        rows[i].style.display = "";
                    }
                }
            }
        };

        function articleFilteredBySearch(row) {
            console.log("runningasd");
            let selectedFilter = document.getElementById("filterSearch").value;
            if (selectedFilter == "") { return true; }
            let rowInfo = row.getElementsByClassName("articleRowSearch");
            let queryStr = "";
            for (var j = rowInfo.length - 1; j >= 0; j--) {
                queryStr += rowInfo[j].innerHTML + " ";
            }
            if (queryStr.toLowerCase().indexOf(selectedFilter.toLowerCase()) !== -1) {
                return true;
            } else {
                return false;
            }
        };

        function articleFiltered(row, column, filter) {
            console.log("running");

            let col = row.getElementsByClassName(column)[0].innerHTML;
            if (filter == "" || col == filter) {
                return true;
            } else {
                return false;
            }
        };

        function currentFilter(selectorName) {
                        console.log("running");

            let deptFilter = document.getElementById(selectorName);
            let filter = deptFilter.options[deptFilter.selectedIndex].value;
            return filter;
        };

        function resetFilterRows() {
                        console.log("running");

            let rows = document.getElementsByClassName("articleRows");
            for (var i = rows.length - 1; i >= 0; i--) {
                rows[i].style.display = "";
            }
        };

        document.getElementById("filterSearch").addEventListener('input', function() {
            filterBy();
        });
    </script>
</body>

</html>